//primary colors
$dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

//neutral colors
$grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
$attribution-font: .6875rem;
$attribution-link: hsl(228, 45%, 44%);
